* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;




}

body {
    width: 100%;
    height: 100%;
    background-color: #F8F3E3;
    color: rgb(87, 73, 28);
}

.bodycon {
    visibility: hidden;
}

.bust-out {
    margin: 0 calc(50% - 50vw)
}



.home {

    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 25px 60px 30px;
    min-height: 80vh;
    margin-bottom: 40px;
    background: url("helping6.jpg");
    background-size: cover;
    background-position: center;







}

.homeContainer {
    position: relative;
    max-width: 400px;
}

.cta {
    border-radius: 4px;
    color: #F8F3E3;

    border: 1px solid #42a5f5;
    font-weight: 500;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Heebo';
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
}

.cta:hover {
    background-color: #42a5f5;
    color: #F8F3E3;
}

.title {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.6;
    font-family: 'Heebo';
    color: #F8F3E3;
    opacity: .7;
}

.quote {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    padding-left: 1em;
    border-left: 2px solid #42a5f5;
    font-family: 'Heebo';
    color: #F8F3E3;


}


.introduction {
    font-size: 1em;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family: 'Muli';
    color: #F8F3E3;
    opacity: .7;
}

.introimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
    filter: grayscale(100%);
    display: none;


}

.introimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;


}

.homeContainer {
    grid-area: intro;


}

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 25px;
}

.abouttitle {

    color: #42a5f5;
    font-family: 'Heebo';
    letter-spacing: 3px;
    padding-left: 1em;
    border-left: 2px solid #42a5f5;
}



.about h3 {
    margin-bottom: 20px;
    margin-top: 40px;
    line-height: 2;
    font-family: 'Heebo';
    color: rgba(26, 65, 96, .6);
}

.description {
    line-height: 1.6;
    font-family: 'Muli';
}

.aboutimg {
    grid-area: img;
    height: 50vh;
    width: 100%;


    margin-top: 20px;

}

.aboutimg img {
    height: 50vh;
    width: 100%;
    object-fit: cover;

}

.work {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 25px;
}

.worktitle {
    color: #42a5f5;
    margin-top: 60px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-family: 'Heebo';
    padding-left: 1em;
    border-left: 2px solid #42a5f5;
}

.worktitle p {
    color: rgba(26, 65, 96, .6);
}

.workimg {
    grid-area: img;
    height: 50vh;

    margin-top: 30px;

}

.workimg img {
    width: 100%;
    object-fit: cover;
    height: 50vh;

}

.work .description {
    margin-top: 40px;
    padding-bottom: 20px;
}

.team {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 25px;
}

.teamtitle {
    color: #42a5f5;
    margin-top: 60px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-left: 1em;
    border-left: 2px solid #42a5f5;
    font-family: 'Heebo';
}

.cardcontainer {
    margin: 40px 0;
}


.card {

    border-radius: 4px;
    text-align: center;
    padding-top: 40px;
    transition: all .3s ease-in-out;
    padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12),
        0 2px 2px rgba(0, 0, 0, .12),
        0 4px 4px rgba(0, 0, 0, .12),
        0 8px 8px rgba(0, 0, 0, .12),
        0 16px 16px rgba(0, 0, 0, .12);

}

.text {
    padding: 0 30px;
}

.cardimage {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;

}

.zero {
    background: url("profile.jpg");
    background-size: cover;
    background-position: 100% 20%;
}

.one {
    background: url("profile2.jpg");
    background-size: cover;
    background-position: 100% 20%;
}

.two {
    background: url("profile3.jpg");
    background-size: cover;
    background-position: 100% 20%;
}

.name {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'Heebo';
}

.position {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Heebo';
    color: rgba(26, 65, 96, .6);
}



.aboutme {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 60px;
    font-family: 'Muli';
    color: rgba(87, 73, 28, .6);
}

.space {
    margin-top: 40px;
}

.contact {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 25px;

}

.contacttitle {
    color: #42a5f5;
    margin-top: 60px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    padding-left: 1em;
    border-left: 2px solid #42a5f5;
    font-family: 'Heebo';
}

.contacttitle p {
    color: rgba(26, 65, 96, .6);
}

.contactpor {
    padding-left: 90px;
    position: relative;
    display: block;
}

.contactpor p {
    color: rgba(87, 73, 28, .6);
}

.contactpor div {
    position: absolute;
    left: 0px;
    top: -3px;
    width: 60px;
    color: #42a5f5;
    line-height: 56px;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    border: 2px solid rgba(87, 73, 28, .6);

}

.contactpor h3 {
    margin-bottom: 10px;
    font-family: 'Heebo';
}

.contactpor p {
    margin-bottom: 20px;
    font-size: 1em;
    font-family: 'Muli';
}

.phone p {
    letter-spacing: 2px;
}

.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    border: 0px;
    height: 1px;
    overflow: hidden;
    background: #1b1b1b;
}

.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    max-width: 400px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #F8F3E3;
}

.pace.pace-inactive {
    display: none;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: #42a5f5;
    overflow: hidden;
    position: fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F8F3E3;
    font-family: 'Heebo';
    font-weight: 700;
    letter-spacing: 2px;
}

.statcard {
    margin-top: 40px;
    padding-bottom: 20px;

    padding-left: 90px;
    position: relative;
    display: block;
}



.statnum {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Heebo';
    color: rgba(26, 65, 96, .6);
}

.statdes {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'muli';
    letter-spacing: 1px;
    margin-top: -12px;
    color: rgb(87, 73, 28);
}

.staticon {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 60px;
    color: rgba(87, 73, 28, .6);
    line-height: 56px;
    text-align: center;
    font-size: 60px;


}

.stat {

    margin-top: 10px;
    font-family: 'Heebo';
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 300;
    color: rgb(87, 73, 28);
    border-bottom: 1px solid rgb(87, 73, 28);
}

.footer {
    height: 20vh;
    width: 100%;
    background-color: #42a5f5;
    margin-top: 80px;
}


@media only screen and (min-width: 1200px) {}